body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
  font-family: 'Hurtmold';
  src: url(HURTMOLD PERSONAL USE.ttf);
}

body {margin:0 ;font-family:Arial}


/*Start of navigation bar codes*/
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #1C1C1C;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    height: 50px;
    line-height: 50px;
    float: left;
}

header nav {
    width: 50%;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    font: 20px 'Hurtmold', Arial, sans-serif;
}

header nav ul li {
    list-style: none;
    position: relative;
}
header nav ul li.sub-menu:before {
    content: '\f0d7';
    position: absolute;
    font-family: fontAwesome;
    line-height: 50px;
    color: #fff;
    right: 5px;
    display: none;
}

header nav ul li.active.sub-menu:before {
    content: '\f0d8';
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none;
    font: 'Hurtmold';
}
header nav ul li.active ul {
    display: block;
}
header nav ul li ul li {
    display: block;
    width: 300px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
}

header nav ul li a:hover {
    color: black;
    background-color: white;
}

header nav ul li a.active {
    color: grey;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*End of navigation bar codes*/


@media (max-width: 991px) {

    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left:0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }

    header nav ul li.active ul {
        position: relative;
        background: grey;
    }

    header nav ul li ul li {
        width: 100%;
    }
}













