*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Hurtmold';
  src: url(Hurtmold-G5mA-kopia.otf);
}

body {margin:0 ;font-family:Arial}


.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.landing_container {
    height: 500px;
    background-color: #151515;
}

.intro_text {
    color: white;
    line-height: 2;
    font: 50px 'Hurtmold';
    text-align: center;
}

.center{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.text label{
  font: 45px 'Hurtmold';
  cursor: pointer;
    font-weight: 700;
}

label span{
  position: relative;
  color: white;
  z-index: 2;
}
label span:hover{
  filter: blur(1px);
}
.text label::before,
.text label::after{
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  visibility: hidden;
}
.text:hover label::before,
.text:hover label::after{
  visibility: visible;
}
.text:hover label::before{
  color: rgba(255,0,188,.8);
  animation: glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;
}
.text:hover label::after{
  color: rgba(0,255,255,.8);
  animation: glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;
}
@keyframes glitch {
  0%{
    transform: translate(0);
  }
  20%{
    transform: translate(-3px, 3px);
  }
  40%{
    transform: translate(-3px, -3px);
  }
  60%{
    transform: translate(3px, 3px);
  }
  80%{
    transform: translate(3px, -3px);
  }
  100%{
    transform: translate(0);
  }
}

.search_by_purpose {
    height: auto;
}

.title_purpose_section {
    font: 25px 'Hurtmold';
    width: 85%;
    margin: 20px auto;
    text-align: center;
}


.container {
        position: relative;
        width: 100%;
        height: auto;
        margin: 80px auto 0;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

.container .box {
        position: relative;
        width: calc(400px - 30px);
        height: calc(300px - 30px);
        background: #000;
        float: left;
        margin: 15px;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(0,0,0,.8);
    }

.container .box .imgBox {
       position: relative;
        height: 250px;
}

.content {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        color: white;
        background-color: rgba(21, 21, 21, 0.8);
    }

.container .box .imgBox img {
    width: 100%;
}

.container .box .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}



.searchby_type_container {
    height: auto;
    margin-top: 50px;
    background-color: #1C1C1C;
    padding-bottom: 50px;
    }

.title_kind_section {
    font: 25px 'Hurtmold';
    color: white;
    width: 80%;
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 20px 0;
    }

.outside_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
.inside_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.kind_pic {
        width: 40%;
        margin: auto;
        margin-bottom: 50px;
    }

.about_bose_container {
    background-image: url(main_page_material/Mobile_traveling_girl.jpg);
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    }

.short_note {
    background-color: black;
    width: 80%;
    height: 50%;
    opacity: 65%;
    position: absolute;
    left: 10%;
    margin-top: 50px;
    padding: 30px;
    color: white;
    line-height: 1.5;
    font: 40px 'Hurtmold'
    }


.short_note_double {
    width: 80%;
    height: 50%;
    position: absolute;
    left: 10%;
    margin-top: 50px;
    padding: 30px;
    color: white;
    line-height: 1.5;
    font: 40px 'Hurtmold';
    }

.newsletter_container {
    padding: 40px 40px;
    text-align: center;
    }

.jon {
    font: 30px 'Hurtmold';
    background-color: #1C1C1C;
    width: 90%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 30px auto;
    font-size: 15px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.letter {
    display: block;
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    color: white;
}

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

.free_banner_container {
    width: 100%;
    text-align: center;
    background-color: #1C1C1C;
    font: 10px 'Hurtmold';
    color: white;
    padding: 20px;
    line-height: 1.5;
}

 .footer {
    background-color: #1C1C1C;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 50px 80px;
    margin: auto;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 10px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }



@media (min-width: 990px) {

.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.website_title {
    margin-top: 100px;
    font: 35px 'Hurtmold';
    width: 45%;
    margin-left: 10%;
    margin-bottom: 3%;
}


.landing_container {
    height: 900px;
    background-color: #151515;
    margin-bottom: 50px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.text label{
  font: 80px 'Hurtmold';
  cursor: pointer;
    font-weight: 700;
}

label span{
  position: relative;
  color: white;
  z-index: 2;
}
label span:hover{
  filter: blur(1px);
}
.text label::before,
.text label::after{
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  visibility: hidden;
}
.text:hover label::before,
.text:hover label::after{
  visibility: visible;
}
.text:hover label::before{
  color: rgba(255,0,188,.8);
  animation: glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;
}
.text:hover label::after{
  color: rgba(0,255,255,.8);
  animation: glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;
}
@keyframes glitch {
  0%{
    transform: translate(0);
  }
  20%{
    transform: translate(-3px, 3px);
  }
  40%{
    transform: translate(-3px, -3px);
  }
  60%{
    transform: translate(3px, 3px);
  }
  80%{
    transform: translate(3px, -3px);
  }
  100%{
    transform: translate(0);
  }
}

.title_purpose_section {
    font: 30px 'Hurtmold';
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.search_by_purpose {
        margin-bottom: 100px;
    }


.container {
        position: relative;
        width: 100%;
        height: auto;
        margin: 80px auto 0;
        justify-content: center;
         display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

.container .box {
        position: relative;
        width: calc(400px - 30px);
        height: calc(300px - 30px);
        background: #000;
        float: left;
        margin: 15px;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(0,0,0,.8);
    }

.container .box:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaleX(0);
        opacity: 0;
        z-index: 1;
    }


.container .box:hover:before {
        transform: scaleX(1);
        opacity: 1;
    }


.container .box:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaleY(0);
        opacity: 0;
        z-index: 1;
    }


.container .box:hover:after {
        transform: scaleY(1);
        opacity: 1;
    }


.container .box .imgBox {
       position: relative;
}


.content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        background-color: transparent;
    }

.container .box .imgBox img {
    width: 100%;
    transition: 0.5s;
}


.container .box:hover .imgBox img {
    opacity: .2;
    transform: scale(1.2);
}


.container .box .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}


 .container .box .content h2 {
        margin: 0 0 10px;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        transform: translateY(-50px);
     opacity: 0;
     visibility: hidden;
    }

 .container .box .content p {
        margin: 0 0 10px;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        transform: translateY(50px);
     opacity: 0;
     visibility: hidden;
    }

.container .box:hover .content h2,
.container .box:hover .content p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}


.searchby_type_container {
    height: auto;
    margin-top: 50px;
    background-color: #1C1C1C;
    padding-bottom: 100px;
    }

.title_kind_section {
    font: 30px 'Hurtmold';
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 50px;
    }

.outside_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    }

.inside_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.kind_pic {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    transition: .3s ease
    }

.kind_pic:hover {
        transform: scale(1.2);
        -webkit-transform: scale (1.2);
        -ms-transform: scale (1.2);
    }

.about_bose_container {
    background-image: url(main_page_material/resized.jpg);
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    }

.short_note {
    background-color: black;
    width: 30%;
    height: 50%;
    opacity: 65%;
    position: absolute;
    left: 10%;
    margin-top: 100px;
    padding: 50px;
    color: white;
    line-height: 1.5;
    font: 50px 'Hurtmold'
    }

.short_note_double {
    width: 30%;
    height: 50%;
    position: absolute;
    left: 10%;
    margin-top: 100px;
    padding: 50px;
    color: white;
    line-height: 1.5;
    font: 50px 'Hurtmold'
    }

.newsletter_container {
    padding: 80px 40px;
    text-align: center;
    }

.jon {
    font: 50px 'Hurtmold';
    background-color: #1C1C1C;
    width: 40%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 40px auto;
    font-size: 20px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
        border: 1px;
        border-color: aqua;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

 .footer {
    background-color: #151515;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 100px 150px;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 20px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 0;
    color: white;
    }

.free_banner_container {
        width: 100%;
        text-align: center;
        background-color: #151515;
        font: 22px 'Hurtmold';
        color: white;
        padding: 4% 15%;
        line-height: 1.5;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }
}















