*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Hurtmold';
  src: url(Hurtmold-G5mA-kopia.otf);
}

body {margin:0 ;font-family:Arial}


.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.website_title {
    margin-top: 100px;
    margin-bottom: 100px;
    font: 25px 'Hurtmold';
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-bottom: 50px;
}


.landing_container {
    height: 450px;
}

.square {
    background-color: black;
    height: 60%;
    width: auto;
    margin: 0 20px;
    opacity: 70%;
    padding: 30px;
    margin-bottom: 50px;
}

.intro_text {
    color: white;
    line-height: 2;
    font: 30px 'Hurtmold';
    text-align: center;
}

.search_by_purpose {
    height: auto;
}

.title_purpose_section {
    font: 25px 'Hurtmold';
    width: 85%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 100px;
}

.category_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.category_container {
    display: none;
}

.mini_pic_mobile {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.category_container_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}


.searchby_type_container {
    height: auto;
    margin-top: 50px;
    background-color: #1C1C1C;
    padding-bottom: 50px;
    }

.title_kind_section {
    font: 25px 'Hurtmold';
    color: white;
    width: 80%;
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 20px 0;
    }

.outside_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
.inside_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.kind_pic {
        width: 40%;
        margin: auto;
        margin-bottom: 50px;
    }

.about_bose_container {
    background-image: url(main_page_material/Mobile_traveling_girl.jpg);
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    }

.short_note {
    background-color: black;
    width: 80%;
    height: 50%;
    opacity: 65%;
    position: absolute;
    left: 10%;
    margin-top: 50px;
    padding: 30px;
    color: white;
    line-height: 1.5;
    font: 40px 'Hurtmold'
    }


.short_note_double {
    width: 80%;
    height: 50%;
    position: absolute;
    left: 10%;
    margin-top: 50px;
    padding: 30px;
    color: white;
    line-height: 1.5;
    font: 40px 'Hurtmold';
    }

.newsletter_container {
    padding: 40px 40px;
    text-align: center;
    }

.jon {
    font: 30px 'Hurtmold';
    background-color: #1C1C1C;
    width: 90%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 30px auto;
    font-size: 15px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.letter {
    display: block;
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    color: white;
}

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

.free_banner_container {
    width: 100%;
    text-align: center;
    background-color: #1C1C1C;
    font: 10px 'Hurtmold';
    color: white;
    padding: 20px;
    line-height: 1.5;
}

 .footer {
    background-color: #1C1C1C;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 50px 80px;
    margin: auto;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 10px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }



@media (min-width: 990px) {

.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.website_title {
    margin-top: 100px;
    font: 35px 'Hurtmold';
    width: 45%;
    margin-left: 10%;
    margin-bottom: 3%;
}


.landing_container {
    padding-top: 50px;
    height: 900px;
    background-image: url(main_page_material/main_page_resaized%20.jpg);
    background-size: cover;
    background-position: top;
}

.square {
    background-color: black;
    width: 35%;
    height: 300px;
    opacity: 70%;
    margin-left: 10%;
    padding: 50px;
}

.intro_text {
    color: white;
    line-height: 2;
    font: 40px 'Hurtmold';
    text-align: left;
}

.title_purpose_section {
    font: 30px 'Hurtmold';
    width: 50%;
    left: 50%;
    text-align: center;
    align-content: center;
    margin: auto;
}

.mini_pic {
    width: 90%;
}

.category_container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    justify-content: space-between;
}

.search_by_purpose {
        margin-top: 100px;
    }

.category_container_mobile {
        display: none;
    }


.searchby_type_container {
    height: auto;
    margin-top: 50px;
    background-color: #1C1C1C;
    padding-bottom: 100px;
    }

.title_kind_section {
    font: 30px 'Hurtmold';
    color: white;
    width: 50%;
    left: 50%;
    text-align: center;
    align-content: center;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
    }

.outside_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    }
.inside_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.kind_pic {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    }

.about_bose_container {
    background-image: url(main_page_material/resized.jpg);
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    }

.short_note {
    background-color: black;
    width: 30%;
    height: 50%;
    opacity: 65%;
    position: absolute;
    left: 10%;
    margin-top: 100px;
    padding: 50px;
    color: white;
    line-height: 1.5;
    font: 50px 'Hurtmold'
    }

.read_more {
    height: 50%;
    position: absolute;
    left: 23%;
    margin-top: 26%;
    color: white;
    font: 40px 'Hurtmold'
    }

.short_note_double {
    width: 30%;
    height: 50%;
    position: absolute;
    left: 10%;
    margin-top: 100px;
    padding: 50px;
    color: white;
    line-height: 1.5;
    font: 50px 'Hurtmold'
    }

.newsletter_container {
    padding: 80px 40px;
    text-align: center;
    }

.jon {
    font: 50px 'Hurtmold';
    background-color: #1C1C1C;
    width: 40%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 40px auto;
    font-size: 20px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
        border: 1px;
        border-color: aqua;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

 .footer {
    background-color: #1C1C1C;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 100px 150px;
    }

    h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 20px;
    }

    .footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 0;
    color: white;
    }

.free_banner_container {
        width: 100%;
        text-align: center;
        background-color: #1C1C1C;
        font: 22px 'Hurtmold';
        color: white;
        padding: 4% 15%;
        line-height: 1.5;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }
}















