*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Hurtmold';
  src: url(../Hurtmold-G5mA-kopia.otf);
}

.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.input_searchfield {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 12px;
}

.form_container {
    float: right;
    margin-right: 20px;
}

.product_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
}

.product_image_pic {
    width: 100%;
    height: auto;
    margin: auto;
}


.product_info {
    width: 90%;
    padding: 20px 0px;
}

.product_name {
    font: 40px 'Hurtmold';
    margin-bottom: 10px;
}

.product_price {
    font: 50px 'Hurtmold';
}

.colour_options {
    height: 80px;
}

.add_to_basket_button {
    font: 30px 'Hurtmold';
    background-color: #1C1C1C;
    width: 80%;
    height: 40px;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}


.specifications {
    font: 40px 'Hurtmold';
    background-color: #1C1C1C;
    width: 70%;
    height: 60px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    margin: 50px 0px;
    vertical-align: middle;
}

.specifications_container {
    height: auto;
    background-color: #1C1C1C;
    margin-bottom: 50px;
}

.pair {
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.blue {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    height: auto;
}

.spec_icon {
    color: white;
    font-size: 50px;
    width: 50%;
}

.desc {
    font: 17px 'Hurtmold';
    color: white;
    width: 60%;
    position: absolute;
    left: 30%;;
}

.get_the_app {
    height: auto;
}

.app_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app_description {
    width: 85%;
    margin: auto;
}

.use_mobile_app {
    font: 31px 'Hurtmold';
    margin-bottom: 30px;
}

.app_paragraph {
    font: 17px 'Hurtmold';
}

.phone_image {
    width: 80%;
    margin: auto;
}

.more_details {
    height: auto;
    margin: 50px auto;
}

.more_details_desc {
    font: 20px 'Hurtmold';
    width: 85%;
    background-color: #313131;
    color: white;
    height: auto;
    padding: 40px;
    line-height: 1.2;
    margin: auto;
}

.newsletter_container {
    padding: 40px 40px;
    text-align: center;
    }

.jon {
    font: 30px 'Hurtmold';
    background-color: #1C1C1C;
    width: 90%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 30px auto;
    font-size: 15px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.letter {
    display: block;
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    color: white;
}

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

.free_banner_container {
    width: 100%;
    text-align: center;
    background-color: #1C1C1C;
    font: 10px 'Hurtmold';
    color: white;
    padding: 20px;
    line-height: 1.5;
}

 .footer {
    background-color: #1C1C1C;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 50px 80px;
    margin: auto;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 10px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }



@media (min-width: 990px) {


.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.input_searchfield {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 12px;
}

.form_container {
    float: right;
    margin-right: 20px;
}

.product_container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 100px 100px 20px 150px;
    margin: 0 0;
}

.product_info {
    width: 40%;
    padding: 40px 0px;
}

.product_name {
    font: 40px 'Hurtmold';
    margin-bottom: 40px;
}

.product_price {
    font: 50px 'Hurtmold';
}

.colour_options {
    margin: 20px 0;
    padding: 5px 0;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.black_color {
        background-color: black;
        padding: 15px;
        color: transparent;
    cursor: pointer;
    }

 .black_color:hover {
        outline: grey 3px solid;
    }

.green_color {
        background-color: darkgreen;
        padding: 15px;
        color: transparent;
    cursor: pointer;
    }

 .green_color:hover {
        outline: grey 3px solid;
    }

.darkred_color {
        background-color: darkred;
        padding: 15px;
        color: transparent;
    cursor: pointer;
    }

 .green_color:hover {
        outline: grey 3px solid;
    }

.yellow_color {
        background-color: yellow;
        padding: 15px;
        color: transparent;
    cursor: pointer;
    }

 .green_color:hover {
        outline: grey 3px solid;
    }

.add_to_basket_button {
    font: 30px 'Hurtmold';
    background-color: #1C1C1C;
    width: 40%;
    height: 40px;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.free_shipping_section {
    font: 20px 'Hurtmold';
    background-color: #1C1C1C;
    width: 95%;
    height: 70px;
    color: white;
    text-align: center;
    padding: 15px 0px;
}

.specifications {
    font: 50px 'Hurtmold';
    background-color: #1C1C1C;
    width: 40%;
    height: 80px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    margin: 50px 0px;
}

.specifications_container {
    height: 500px;
    background-color: #1C1C1C;
}

.pair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 80px;
}


.blue {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 0;
    height: auto;
}

.spec_icon {
    color: white;
    font-size: 60px;
    width: auto;
}
.desc {
    font: 22px 'Hurtmold';
    color: white;
    width: 70%;
    position: relative;
}



.get_the_app {
    height: 700px;
}

.app_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.app_description {
    width: 40%;
    margin-left: 150px;
    margin-top: 50px;
}

.use_mobile_app {
    font: 50px 'Hurtmold';
    margin-bottom: 30px;
}

.app_paragraph {
    font: 25px 'Hurtmold';
}

.phone_image {
    width: 70%;
    padding-right: 20px;
}

.more_details {
    height: 600px;
    margin: 50px 0;
}

.more_details_desc {
    font: 25px 'Hurtmold';
    width: 40%;
    margin-left: 40%;
    background-color: #313131;
    color: white;
    height: 450px;
    padding: 40px;
    line-height: 1.2;
}

.newsletter_container {
    padding: 80px 40px;
    text-align: center;
    }

.jon {
    font: 50px 'Hurtmold';
    background-color: #1C1C1C;
    width: 40%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 40px auto;
    font-size: 20px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
        border: 1px;
        border-color: aqua;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

 .footer {
    background-color: #151515;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 100px 150px;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 20px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 0;
    color: white;
    }

.free_banner_container {
        width: 100%;
        text-align: center;
        background-color: #151515;
        font: 22px 'Hurtmold';
        color: white;
        padding: 4% 15%;
        line-height: 1.5;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }
}








