*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Hurtmold';
  src: url(../Hurtmold-G5mA-kopia.otf);
}

.first_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.input_searchfield {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 12px;
}

.form_container {
    float: right;
    margin-right: 20px;
}

.intro_text {
    font: 25px 'Hurtmold';
    width: 80%;
    text-align: left;
    margin-top: 25%;
    margin-left: 10%;
}

.headphones_main_pic {
    width: 80%;
    margin: auto;
}

.second_text {
    background-color: black;
    width: 80%;
    height: 50%;
    opacity: 65%;
    left: 10%;
    margin: auto;
    padding: 20px;
    color: white;
    line-height: 1.5;
    font: 45px 'Hurtmold';
    text-align: center;
}

.third_text {
    background-color: #1C1C1C;
    width: 80%;
    height: 50%;
    left: 10%;
    margin-top: 30px;
    padding: 20px;
    color: white;
    line-height: 1.5;
    font: 40px 'Hurtmold';
    text-align: center;
}

.checkout {
    height: auto;
    margin: auto;
}

.checkout_title {
    background-color: #1C1C1C;
    width: 100%;
    left: 10%;
    margin: 50px 0;
    padding: 20px;
    color: white;
    line-height: 1.5;
    font: 15px 'Hurtmold';
    text-align: center;
}

.david_pic {
    display: none;
}

.products_examples_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10%;
    height: auto;

    }

.product_example {
    width: 90%;
    margin-bottom: 70px;
    }

 .product_mini_pic {
        width: 100%;
    }

.title_of_product {
        font-size: 25px;
        background-color: #1C1C1C;
        color: white;
        padding: 10px;
    }

.price_of_product {
        font-size: 40px;
    }

.product_mini_description {
        font-size: 20px;
    }

.details_button {
        font-size: 30px;
        background-color: #1C1C1C;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }

.add_to_basket_button {
    font-size: 30px;
    background-color: #1C1C1C;
    color: white;
    padding: 10px;
    text-align: center;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }

a {
    text-decoration: none;
}

.newsletter_container {
    padding: 40px 40px;
    text-align: center;
    }

.jon {
    font: 30px 'Hurtmold';
    background-color: #1C1C1C;
    width: 90%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 30px auto;
    font-size: 15px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.letter {
    display: block;
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    color: white;
}

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

.free_banner_container {
    width: 100%;
    text-align: center;
    background-color: #1C1C1C;
    font: 10px 'Hurtmold';
    color: white;
    padding: 20px;
    line-height: 1.5;
}

 .footer {
    background-color: #1C1C1C;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 50px 80px;
    margin: auto;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 10px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }


@media (min-width: 990px) {

.web_logo {
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shopping_cart {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.input_searchfield {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 12px;
}

.form_container {
    float: right;
    margin-right: 20px;
}

.website_title {
    margin-top: 100px;
    font: 35px 'Hurtmold';
    width: 45%;
    margin-left: 10%;
    margin-bottom: 3%;
}

.first_section {
    margin-top: 50px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.intro_text {
    color: black;
    width: 30%;
    text-align: left;
    font-size: 75px;
    margin-top: 5%;
    margin-left: 15%;
}

.headphones_main_pic {
    width: 30%;
    height: auto;
    margin-right: 15%;
}


.second_section {
    height: 600px;
    background-image: url(../Sport_page/section_two_resized.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.second_text {
    background-color: black;
    width: 30%;
    height: 50%;
    opacity: 65%;
    position: absolute;
    left: 10%;
    margin-top: 80px;
    padding: 50px;
    color: white;
    line-height: 1.5;
    font: 70px 'Hurtmold'
}

.third_section {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 0 70px;
    }


.david_pic {
    display: block;
    width: 50%;

    }

.third_text {
    background: none;
    font: 80px 'Hurtmold';
    width: 40%;
    color: black;
    text-align: left;
    padding: 0px 0px;
    margin: 0;
    }

.checkout {
    margin-top: 50px;
    height: 1000px;
    }

.products_examples_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    margin: 0 10%;
    }

.checkout_title {
    width: 80%;
    margin: auto;
    text-align: center;;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1C1C1C;
    font: 35px 'Hurtmold';
    color: white;
    }

.product_example {
    max-width: 300px;
    text-decoration: none;
    }

.product_example a:link {
    text-decoration: none;
    }

.product_example a:visited {
        color: grey;
        text-decoration: none;
    }

.product_mini_pic {
    width: 90%;
    }

.title_of_product {
    font-size: 25px;
    background-color: #1C1C1C;
    color: white;
    padding: 10px;
    outline: grey solid 2px;
    }

    .title_of_product:hover {
    outline: grey solid 5px;
    }

.price_of_product {
    font-size: 40px;
    }


.product_mini_description {
    font-size: 20px;
    }

.details_button {
    font-size: 30px;
    background-color: #1C1C1C;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    outline: grey solid 2px;
    }

    .details_button:hover {
    outline: grey solid 5px;
    }


.add_to_basket_button {
     font-size: 30px;
     background-color: #1C1C1C;
     color: white;
      padding: 10px;
      text-align: center;
    outline: grey solid 2px;
    }

.add_to_basket_button:hover {
    outline: grey solid 5px;
    }


.newsletter_container {
    padding: 80px 40px;
    text-align: center;
    }

.jon {
    font: 50px 'Hurtmold';
    background-color: #1C1C1C;
    width: 40%;
    margin: auto;
    padding: 10px;
    color: white;
    }

.tiny_paragraph {
    max-width: 600px;
    margin: 40px auto;
    font-size: 20px;
    }

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    }

.email box i {
    background: #1C1C1C;
    width: 40px;
    line-height: 40px;
    }

.tbox, .btn {
    border: 1px;
    outline: 3px;
    }

.tbox {
    width: 0px;
    transition: 0.6s;
    }

.email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
        border: 1px;
        border-color: aqua;
    }

.btn {
    background: #1C1C1C;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    }

 .footer {
    background-color: #151515;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 100px 150px;
    }

h3 {
    font: 30px 'Hurtmold';
    margin-bottom: 20px;
    }

.footer_info {
    font-size: 17px;
    }

.social_media_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 0;
    color: white;
    }

.free_banner_container {
        width: 100%;
        text-align: center;
        background-color: #151515;
        font: 22px 'Hurtmold';
        color: white;
        padding: 4% 15%;
        line-height: 1.5;
    }

.social_media_icons a:link {
        color: white;
    }

.social_media_icons a:visited {
        color: grey;
    }

}

